@charset "utf-8";

@font-face {
  font-family: "Elegance";
  src: url("../../public/font/Elegance.otf");
}

*{
  margin: 0; padding: 0;
  transition: all 0.5s;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Pretendard Variable';
}

html {
  font-size: 18px;
}

section {
  width: 100vw;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 150%;
}

p, span, li {
  line-height: 150%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-size: inherit;
  border: none;
  cursor: pointer;
  background-color: inherit;
}