#Banner {
  height: calc(100vh - 60px);
  border-bottom: 1px solid #000;
  display: grid;
  place-items: center;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }

  .pagination { 
    position: absolute;
    right: -1px; top: 0;
    margin-top: -1px;
    padding: 1px;
    background-color: #000;
    display: flex;
    gap: 1px;

    button {
      width: 40px; aspect-ratio: 1;
      font-size: 16px;
      background-color: #fff;

      &.active {
        filter: invert(1);
      }
    }
  }
}