#Header {
  z-index: 999;
  position: sticky;
  top: 0;
  width: 100vw; height: 60px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #fff;
  display: flex;
  justify-content: space-between;

  nav, 
  .utils {
    padding: 0 20px;
    width: fit-content; height: 100%;
    display: flex;
    align-items: center;

    #logo {
      aspect-ratio: 2 / 1;
      font-size: 24px;
    }
    
    a, button {
      padding: 0 20px;
      height: 100%;
      font-size: 16px;
      font-weight: 500;
      // border: 1px solid #000;
      display: grid;
      place-items: center;

      svg {
        width: 103px;
      }
    }
  }
}