#Slider {
  z-index: 1;
  position: sticky;
  top: 60px;
  padding: 0 var(--padding);
  width: 100vw;
  // border: 1px solid #000;

  .title {
    position: sticky;
    top: 60px;
    // padding: 10px 40px;
    padding-top: 4px;
    width: 100%; height: 60px;
    border-bottom: 1px solid #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    position: relative;
    width: 100%; height: 641px;
    overflow: hidden;

    .fixer {
      margin-top: -1px;
      position: absolute;
      left: 0; top: 0;
      padding: 1px 0;
      width: fit-content; height: 100%;
      background-color: #000;
      display: flex;
      gap: 1px;

      .slide {
        position: relative;
        aspect-ratio: 3 / 4;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        cursor: pointer;

        .top {
          position: relative;
          width: 100%; aspect-ratio: 1;
          background-color: #f8f8f8;
          border-bottom: 1px solid #000;
          display: grid;
          place-items: center;
          overflow: hidden;
          
          img {
            z-index: 0;
            position: absolute;
            left: 50%; bottom: 0;
            transform: translate(-50%);
            width: 100%;
          }
        }

        .bot {
          flex-grow: 1;
          padding: 20px 30px;
          display: flex;
          flex-direction: column;

          .feeling,
          .fragrance,
          .volume,
          .price {
            font-size: 15px;
          }

          .note {
            .fragrance {
              display: flex;
              align-items: center;

              &:nth-child(2) {
                color: #777;
              }

              &:nth-child(3) {
                color: #aaa;
              }
            }
          }

          .wrap:last-child {
            margin-top: auto;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            
            .price {
              margin-left: auto;
              color: #bbb;
            }

            .dc {
              font-size: 20px;
              font-weight: 500;
            }
          }
        }
      }
    }

    .wrap_button {
      position: absolute;
      right: -2px; top: 50%;
      transform: translate(0, -50%);
      padding: 1px;
      width: calc(100% + 4px);
      display: flex;
      justify-content: space-between;
      gap: 1px;

      button {
        width: 60px; aspect-ratio: 1;
        display: grid;
        place-items: center;
        border: 1px solid #000;
        background-color: #fff;

        &:hover {
          filter: invert(1);
        }
      }
    }
  }
}

