#Detail {
  height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  > div {
    &.left {
      position: relative;
      background-color: #f8f8f8;
      display: grid;
      place-items: center;
      overflow: hidden;

      .fixer {
        position: absolute;
        left: 0; top: 0;
        width: fit-content; height: 100%;
        display: flex;

        .slide {
          position: relative;
          width: 50vw; height: 100%;
          overflow: hidden;

          img {
            position: absolute;
            bottom: 0;
            width: 100%;
          }
        }
      }

      .wrap_button {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        padding: 1px;
        width: calc(100% + 4px);
        display: flex;
        justify-content: space-between;

        button {
          width: 60px; aspect-ratio: 1;
          background-color: #fff;
          border: 1px solid #000;
        }
      }
    }

    &.right {
      padding: 100px 160px 100px 100px;
      border-left: 1px solid #000;
      display: flex;
      flex-direction: column;
      gap: 40px;
      
      .wrap_price {
        margin-top: -36px;
        display: flex;
        align-items: center;
        gap: 10px;

        .price {
          margin-left: auto;
          color: #bbb;
        }
      }

      .wrap_description {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .note {
          margin-top: 30px;
        }
      }

      .wrap_info {
        display: grid;

        > div {
          position: relative;
          padding: 15px;
          border-top: 1px solid #000;

          &::after {
            position: absolute;
            right: 15px; top: 50%;
            transform: translate(0, -50%);
            content: "+";
            font-size: 20px;
          }
        }
      }

      .wrap_button {
        margin-top: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        
        button {
          padding: 15px;
          color: #fff;
          background-color: #000;
          display: grid;
          place-items: center;

        }
      }
      
      /* fons-size 16*/
      .description,
      .note,
      .fragrance,
      .volume,
      .price,
      .wrap_button,
      .wrap_info {
        font-size: 16px;
      }

      /* font-weight 300 */
      .wrap_title h4,
      .volume,
      .note,
      .description {
        font-weight: 300;
      }
      
      /* font-weight 500 */
      .wrap_price .dc {
        font-weight: 500;
      }
    }
  }
}