#Note {
  height: fit-content;

  .banner {
    margin-top: -1px;
    padding-top: 100px;
    width: 100%; height: calc(100vh - 59px);
    border-top: 1px solid #000;
    background: url(https://buly.kr/5JMftwa) center bottom/23% no-repeat;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    span {
      font-size: 40px;
      font-family: "Elegance";
      letter-spacing: 1px;
    }

    h1 {
      margin-top: 60px;
    }

    p {
      text-align: center;
    }
  }

  .container {
    .row {
      position: sticky;
      top: 59px;
      margin: -1px 0;
      padding: 1px;
      background-color: #000;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      gap: 1px;

      > div {
        position: relative;
        background-color: #fff;

        &.left,
        &.middle {
          padding: 40px;
        }

        &.middle {
          width: 100%; height: 100%;

          button {
            padding-top: 5px;
            position: absolute;
            right: -1px; top: -1px;
            width: 60px; aspect-ratio: 1;
            font-size: 20px;
            background-color: #fff;
            border: 1px solid #000;
            display: grid;
            place-items: center;

            &:hover {
              filter: invert(1);
            }
          }
        }

        &.right {
          aspect-ratio: 1;
          display: grid;
          place-items: center;
          overflow: hidden;
        }
      }

      .fragrance {
        height: 100%;
        column-count: 4;
      }
    }
  }

  .modal {
    z-index: 2;
    position: fixed;
    left: 50%; top: 59px;
    transform: translate(-50%) scale(0);
    transform-origin: right top;
    width: 60vw; height: calc(100vh - 58px);
    border: 1px solid #000;
    backdrop-filter: blur(8px);
    background-color: #ffffff50;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: scroll;

    .product {
      position: relative;
      width: calc(100% / 3);
      aspect-ratio: 3 / 4;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      cursor: pointer;

      &:nth-child(4n) {
        border-right: none;
      }

      .top {
        position: relative;
        width: 100%; aspect-ratio: 1 / 1.1;
        background-color: #f8f8f8;
        border-bottom: 1px solid #000;
        display: grid;
        place-items: center;
        overflow: hidden;

        img {
          z-index: 0;
          position: absolute;
          left: 50%; bottom: 0;
          transform: translate(-50%);
          height: 100%;
        }
      }

      .bot {
        flex-grow: 1;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;

        .feeling,
        .fragrance,
        .volume,
        .price {
          font-size: 15px;
        }

        .wrap {
          margin-top: auto;
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 10px;

          .price {
            margin-left: auto;
            color: #bbb;
          }

          .dc {
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
    }

    .close {
      z-index: 1;
      padding-top: 5px;
      position: absolute;
      right: -1px; top: -1px;
      width: 60px; aspect-ratio: 1;
      font-size: 20px;
      background-color: #fff;
      border: 1px solid #000;
      display: grid;
      place-items: center;

      &:hover {
        filter: invert(1);
      }
    }
  }
}
